body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 44px;
}
.header .search-input {
  flex: 0.8;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 36px;
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-position: left 11px center;
}
.header .buttons {
  display: flex;
  align-items: center;
}
.header .buttons .button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.header .buttons .button-text {
  margin-left: 5px;
}
.header .buttons .button-user {
  background: #1890FF;
  color: #fff;
  border: 1px solid #1890FF;
}
.header .buttons .button-cart {
  margin-left: 10px;
  background: #fff;
  color: #595959;
  border: 1px solid #D9D9D9;
}

.promo {
  margin-top: 40px;
  padding: 71px 68px;
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #fff1b8 url(../img/promo-image.png);
  background-repeat: no-repeat;
  background-position: top -100px right -100px;
  border-radius: 10px;
}
.promo-title {
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302C34;
}
.promo-text {
  padding-top: 15px;
  font-size: 24px;
  line-height: 28px;
  color: #302C34;
}

.restaurants {
  margin-top: 58px;
}
.restaurants-header {
  display: flex;
  justify-content: space-between;
}
.restaurants-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.restaurants-search {
  padding-left: 32px;
  min-width: 306px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center left 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 44px;
}
.cards .card {
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  flex-basis: 31%;
}
.cards .card:visited {
  color: #000;
}
.cards .card:hover {
  transform: scale(1.005);
  box-shadow: 0px 4px 12px #ccb777;
}
.cards .card-image {
  border-radius: 7px 7px 0px 0px;
  width: 100%;
  object-fit: cover;
}
.cards .card-text {
  margin: 20px 24px 35px;
}
.cards .card-heading {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards .card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.cards .card-tag {
  font-size: 12px;
  line-height: 20px;
  background: #262626;
  border-radius: 2px;
  padding: 2px 8px;
  color: #fff;
}
.cards .card-info {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 32px;
}
.cards .card-info .rating {
  margin-right: 26px;
  padding-left: 22px;
  font-weight: bold;
  color: #FFC107;
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-position: top 6px left;
}
.cards .card-info .price {
  color: #8C8C8C;
  white-space: nowrap;
}
.cards .card-info .price::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #8C8C8C;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.cards .card-info .category {
  color: #8C8C8C;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  margin-top: 60px;
  padding: 60px 0;
  background: #fff;
}
.footer .wrapper {
  display: flex;
  align-items: center;
}
.footer .logo {
  margin-right: 36px;
}
.footer .copyright {
  font-size: 18px;
  line-height: 21px;
  color: #595959;
}
.footer .copyright span {
  margin-right: 15px;
}
.footer .links {
  margin-left: auto;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}